services:
  app:
    build: .
    restart: always
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - MONGODB_DATABASE_NAME=${MONGODB_DATABASE_NAME}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - BOT_MODE=${BOT_MODE}
      - FREE_MONTHLY_LIMIT=${FREE_MONTHLY_LIMIT}
  mongo:
    image: mongo:6.0
    restart: always
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
